div{
border: 1px solid black;
}
.logo{
    display: inline-block;
}
.pic{
    display: inline-block;
}
.coloum{
    display: inline-block; width: 30%;
}
.cell{
    display: inline-block; width: 30%;
}